.searchInput {
  width: 100%;
  position: sticky;
  z-index: 1;
  top: 64px;
  padding: 30px 0 10px 0;
  box-sizing: border-box;
}
mat-form-field {
  width: 100%;

  mat-icon {
    margin-right: 8px;
  }
}
